@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu Sans Mono", monospace;
}

.space {
  font-family: "Space Grotesk", sans-serif;
}



.gradient-text {
  position: relative;
  overflow: hidden;
}

.gradient-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background: linear-gradient(to right, #ff0000, #00ff00);
  -webkit-background-clip: text;
  background-clip: text;
  z-index: -1;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}

/* .str-video__composite-button__button-group.str-video__composite-button__button-group--active-secondary{
  background-color: white;
} */

.str-video__composite-button .str-video__composite-button__button-group .str-video__menu-toggle-button{
  background-color: antiquewhite;
  /* border-radius: 4px; */
}




::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* For Chrome */
::-webkit-scrollbar-thumb {
  background-color: #343a35; /* Color of the scrollbar thumb */
}

/* For WebKit browsers */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

.str-video__composite-button__button-group.str-video__composite-button__button-group--active-secondary {
  background-color: #1c1f2e;
}

.str-video__paginated-grid-layout .str-video__paginated-grid-layout__group{
  display: flex;
  flex-wrap: wrap;
}